!!! 5
%html
  %head{lang: "en"}
    %meta{charset: "utf-8"}
    %title= @item[:title]

    %link{rel: "stylesheet", href: @items['/assets/stylesheets/app/'].path}
    %link{rel: "stylesheet", href: @items['/assets/stylesheets/stylesheet/'].path}

    %script{src: @items['/assets/javascripts/vendor/jquery/'].path}

    %link{rel: "stylesheet", href: @items['/assets/stylesheets/foundation-icons/general_foundicons/'].path}
    %script{src: @items['/assets/javascripts/test/'].path}

  %body
    = render 'topbar'

    .row.full_width
      .large-2.columns.sidebar
        = render 'sidebar'
      .large-10.columns
        = render 'inbox_topbar'
        .row
          = yield
